# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_remapping_directory = "/opt/retropie/configs/snes/"
joypad_autoconfig_dir = "/opt/retropie/configs/snes/retroarch-joypads/"

#include "/opt/retropie/configs/all/retroarch.cfg"
